
body{
    font: 20px arial, sans-serif;
}

.quem-somos{
    background-color: #635755;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #365C64;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}